#colors {
    color: 
    #1C1D21
    #A288A6
    #BB9BB0
    #CCBCBC
    #F1E3E4
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* z-index: 1; */
}

#content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.accent {
    background-color: #CCBCBC;
}

.primary {
    background-color: #F1E3E4;
}

.taskbar {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;

}

.taskbarItem {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projectList > :first-child {
    align-items: center;
}
.projectList > :nth-child(n+2) {
    font-weight: normal;
    font-size: 1.5rem;
    padding: 5px 0 5px 20px;
    margin-left: 10px;
}

.projectList > :nth-child(n+2):hover {
    background: #CCBC;
    cursor: pointer;
}

.container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.listItem {
    width: 75%;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    filter: invert(25%) sepia(9%) saturate(7427%) hue-rotate(66deg) brightness(92%) contrast(88%);
}

.crossout  {
    opacity: 0.5;
}

.listHeader {
    display: flex;
    flex-direction: row;
}

.newListItemButton {
    position: absolute;
    top:0;
    right:0;
    margin: 10px;
    font-size: 1.5rem;
    padding: 0px 5px;
}

.newListItemButton:hover {
    cursor: pointer;
}


.newItemForm {
    width: 50vw;
    height: 60vh;
    border: 1px solid black;  
    margin-left: 150px;
    visibility: hidden;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.newItemForm.clicked {
    visibility: visible;
}

.formHeader {
    width:100%;
    height:12%;
    background-color:#CCBCBC;
    display:flex;
    align-items:center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 10px;
    /* padding-top: 30px; */
}

.formBody {
    background-color: #BB9BB0;  
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.formBody > * {
    border: none;
    outline: none;
}


.dueDateDiv {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.prioDiv {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.prioDiv > div {
    font-size: 1.2rem;
    font-weight: normal;
}

.prioDiv > div > input {
    padding: 10px;
}

.submitButton {
    width: 30%;
    padding: 10px 10px 10px 10px;
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.dateDisplayDiv {
    flex: 1;
    text-align: end;
}